:root {
  --green: #64ffda;
  --bg-color: #0A192F;
  --text-color: #8892b0;
  --light-text-color:#ccd6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: white;
  color: black;
}

::selection {
  background-color: white;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  background-color: var(--bg-color);
  color: white;
  line-height: 1.4;
}
@media (min-width: 650px) {
  body {
    font-size: 19px;
  }
}

ul, li, a {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  color: none;
}

a {
  color: unset;
}
a:hover {
  color: #307061;
  transition: 0.7s ease background-color;
}

button {
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: 10px;
  line-height: 1;
  text-decoration: none;
  margin-top: 30px;
  cursor: pointer;
  color: var(--green);
}
button:hover {
  background-color: #307061;
  transition: 0.7s ease background-color;
}
button a:hover {
  color: #29fd16;
}

.green {
  color: var(--green);
}

h2, h4 {
  color: var(--light-text-color);
  font-weight: 600;
}

h2, h3, h4 {
  line-height: 1.1;
}

h2 {
  font-size: 2.7em;
}

h3 {
  color: var(--text-color);
  font-size: 2em;
}

h1 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.2em;
}

img {
  width: 100%;
}

p {
  font-size: 1.07em;
  line-height: 1.3;
  margin: 15px 0;
}

p, li {
  color: var(--text-color);
}

.flex {
  display: flex;
}

.heading {
  width: 85%;
  margin: 30px auto;
  max-width: 1000px;
  display: flex;
  align-items: flex-end;
}
.heading .green {
  margin: 0 10px 0 0;
}

#contact, #about, #project {
  padding: 50px 0 0 0;
}

.max-width {
  max-width: 650px;
  width: 85%;
  margin: auto;
}

.home-text {
  max-width: 600px;
}
.home-text .text {
  max-width: 500px;
}

.nav-bar {
  max-width: 760px;
}

nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav .active {
  background-color: #0A192F;
}
nav .nav-div .nav-bar {
  justify-content: space-between;
  height: 80px;
  width: 85%;
  margin: auto;
  align-items: center;
  position: relative;
}
nav .nav-div .nav-bar .logo h1 a {
  color: var(--light-text-color);
}
nav .nav-div .nav-bar .nav-link {
  transition: 0.4s;
  position: absolute;
  width: 90%;
  height: 100vh;
  right: -900px;
  padding: 0 12px;
  background-color: #112240;
  display: block;
  top: 0px;
}
nav .nav-div .nav-bar .nav-link .list {
  padding-top: 30px;
}
nav .nav-div .nav-bar .nav-link .list li {
  text-align: center;
  display: block;
  letter-spacing: 2px;
  padding: 30px 10px;
}
nav .nav-div .nav-bar .nav-link .list li a {
  color: #ccd6f6;
}
nav .nav-div .nav-bar .nav-link .list li a:hover {
  color: var(--green);
}
nav .nav-div .nav-bar .nav-link .btn {
  width: 50%;
  margin: 20px auto;
}
nav .nav-div .nav-bar .nav-link .btn button {
  padding: 15px 20px;
  width: 100%;
}
nav .nav-div .nav-bar .nav-mobile {
  right: -50px;
}
nav .nav-div .nav-bar .menu {
  cursor: pointer;
}
nav .nav-div .nav-bar .menu .dash {
  width: 40px;
  height: 20px;
}
nav .nav-div .nav-bar .menu .dash div {
  transition: 0.2s;
  background-color: var(--green);
  height: 2px;
  margin-top: 5px;
}
nav .nav-div .nav-bar .menu .dash div:nth-child(1) {
  width: 35px;
}
nav .nav-div .nav-bar .menu .dash div:nth-child(2) {
  width: 25px;
}
nav .nav-div .nav-bar .menu .dash div:nth-child(3) {
  width: 15px;
}
nav .nav-div .nav-bar .menu .cancel {
  position: relative;
}
nav .nav-div .nav-bar .menu .cancel div {
  position: absolute;
}
nav .nav-div .nav-bar .menu .cancel div:nth-child(1) {
  width: 25px;
  transform: rotate(45deg);
}
nav .nav-div .nav-bar .menu .cancel div:nth-child(2) {
  opacity: 0;
}
nav .nav-div .nav-bar .menu .cancel div:nth-child(3) {
  width: 25px;
  transform: rotate(-45deg);
}

header {
  padding: 130px 0 170px 0;
}
header .home .home-text .name {
  font-size: 1.1em;
}
header .home .home-text h2 {
  margin-top: 18px;
}
header .home .home-text h3 {
  margin-top: 13px;
}
header .home .home-text .btn button {
  padding: 20px 25px;
}

#about .abt .abt-text .text {
  padding-top: 20px;
}
#about .abt .abt-text .text .tech {
  width: 70%;
  padding: 0 10px;
  justify-content: space-between;
}
#about .abt .abt-text .text .tech li {
  list-style-type: circle;
}
#about .abt .abt-img {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  max-width: 500px;
}
#about .abt .abt-img .img-border {
  position: relative;
  border: 2px solid var(--green);
  height: 250px;
  width: 200px;
  transition: all 0.1s linear;
}
#about .abt .abt-img .img-border:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.1s linear;
}
#about .abt .abt-img .img-border:hover .img .thumbnail {
  opacity: 0;
}
#about .abt .abt-img .img-border:hover .img img {
  width: 100%;
  top: 20px;
  left: 20px;
}
#about .abt .abt-img .img-border .img {
  transition: 0.1s linear all;
  position: relative;
  width: 90%;
  top: -20px;
  left: -10px;
  cursor: pointer;
}
#about .abt .abt-img .img-border .img .thumbnail {
  transition: 0.6s linear background-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  background-color: #6cdbc1;
  opacity: 0.3;
}

#project .project .project-items {
  padding-top: 20px;
  flex-direction: column;
  gap: 60px;
}
#project .project .project-items .item {
  position: relative;
  z-index: 1;
}
#project .project .project-items .item .thumbnail {
  position: absolute;
  background-color: #112240;
  height: 100%;
  opacity: 0.95;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
#project .project .project-items .item .item-img .item-text {
  padding: 30px 20px;
}
#project .project .project-items .item .item-img .item-text p {
  font-size: 1em;
}
#project .project .project-items .item .item-img .item-text .green {
  font-size: 1.1em;
}
#project .project .project-items .item .item-img .item-text h5 {
  color: white;
  margin: 10px 0;
}
#project .project .project-items .item .item-img .item-text .lang-type {
  gap: 20px;
  margin: 5px 0;
}
#project .project .project-items .item .item-img .item-text .icon {
  gap: 15px;
}

#contact .contact {
  width: 90%;
  margin: auto;
  text-align: center;
}
#contact .contact h6 {
  margin-bottom: 20px;
}
#contact .contact h1 {
  color: var(--light-text-color);
}
#contact .contact .btn {
  margin-top: 30px;
}
#contact .contact .btn button {
  padding: 20px 28px;
}

footer .footer {
  padding-top: 40px;
}
footer .footer .footer-flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
}
footer .footer .footer-flex p {
  font-size: 1em;
}
footer .footer .footer-flex .email {
  display: none;
}
footer .footer .footer-flex .icon {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 770px) {
  body {
    font-size: 18px;
  }

  .max-width {
    max-width: 900px;
    width: 80%;
    margin: auto;
  }

  header {
    padding: 160px 0 0 0;
  }

  .home-text {
    max-width: 800px;
  }
  .home-text .text {
    max-width: 600px;
  }

  .nav-bar {
    max-width: 860px;
  }

  .heading {
    width: 80%;
    margin: 30px auto;
    display: flex;
    align-items: flex-end;
  }
  .heading .green {
    margin: 0 10px 0 0;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
  }
  nav .nav-div .nav-bar {
    flex-direction: row;
    height: 85px;
    line-height: 85px;
    width: 90%;
    padding: 0;
  }
  nav .nav-div .nav-bar .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: unset;
    height: 85px;
    width: 65%;
    padding: 0;
    background-color: transparent;
  }
  nav .nav-div .nav-bar .nav-link .list {
    padding: 0px;
  }
  nav .nav-div .nav-bar .nav-link .list li {
    display: inline-block;
    padding: 0px 15px;
    font-size: 0.8em;
  }
  nav .nav-div .nav-bar .nav-link .btn {
    width: 20%;
    max-width: 100px;
    margin: 0;
    margin-left: 20px;
  }
  nav .nav-div .nav-bar .nav-link .btn button {
    padding: 15px 20px;
  }
  nav .nav-div .nav-bar .nav-mobile {
    display: none;
  }
  nav .nav-div .nav-bar .menu {
    display: none;
  }

  #about .abt {
    display: flex;
    justify-content: space-between;
  }
  #about .abt .abt-text {
    width: 60%;
  }
  #about .abt .abt-text .text {
    padding-top: 10px;
  }
  #about .abt .abt-img {
    width: 40%;
  }

  #project .project .project-items {
    padding: 50px 0;
    gap: 150px;
  }
  #project .project .project-items .item {
    position: relative;
    z-index: 1;
    height: 250px;
    width: 47vw;
    max-width: 700px;
  }
  #project .project .project-items .item:hover .thumbnail {
    background-color: transparent;
  }
  #project .project .project-items .item .thumbnail {
    position: absolute;
    background-color: #31752c;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    top: 0;
    left: 0;
  }
  #project .project .project-items .item .item-img {
    position: absolute;
    transform: translate(50%, -20%);
    position: relative;
    text-align: right;
    width: 56vw;
    max-width: 600px;
  }
  #project .project .project-items .item .item-img .item-text {
    max-width: 600px;
  }
  #project .project .project-items .item .item-img .item-text h3, #project .project .project-items .item .item-img .item-text p {
    color: var(--light-text-color);
  }
  #project .project .project-items .item .item-img .item-text p {
    background-color: #112240;
    padding: 30px;
    font-size: 1em;
  }
  #project .project .project-items .item .item-img .item-text .green {
    font-size: 0.9em;
  }
  #project .project .project-items .item .item-img .item-text .lang-type, #project .project .project-items .item .item-img .item-text .icon {
    justify-content: flex-end;
    gap: 10px;
  }
  #project .project .project-items .item .item-img .item-text .lang-type {
    margin: 5px 0;
  }
  #project .project .project-items .item:nth-child(2), #project .project .project-items .item:nth-child(4) {
    transform: translate(68%, -20%);
    margin-top: 90px;
  }
  #project .project .project-items .item:nth-child(2) .item-img, #project .project .project-items .item:nth-child(4) .item-img {
    transform: translate(-60%, -20%);
    position: relative;
    text-align: left;
    width: 58vw;
  }
  #project .project .project-items .item:nth-child(2) .item-img .item-text h3, #project .project .project-items .item:nth-child(2) .item-img .item-text p, #project .project .project-items .item:nth-child(4) .item-img .item-text h3, #project .project .project-items .item:nth-child(4) .item-img .item-text p {
    color: var(--light-text-color);
  }
  #project .project .project-items .item:nth-child(2) .item-img .item-text p, #project .project .project-items .item:nth-child(4) .item-img .item-text p {
    background-color: #112240;
    padding: 30px;
    font-size: 1em;
  }
  #project .project .project-items .item:nth-child(2) .item-img .item-text .green, #project .project .project-items .item:nth-child(4) .item-img .item-text .green {
    font-size: 0.9em;
  }
  #project .project .project-items .item:nth-child(2) .item-img .item-text .lang-type, #project .project .project-items .item:nth-child(2) .item-img .item-text .icon, #project .project .project-items .item:nth-child(4) .item-img .item-text .lang-type, #project .project .project-items .item:nth-child(4) .item-img .item-text .icon {
    justify-content: flex-start;
    gap: 10px;
  }
  #project .project .project-items .item:nth-child(2) .item-img .item-text .lang-type, #project .project .project-items .item:nth-child(4) .item-img .item-text .lang-type {
    margin: 5px 0;
  }

  #contact .contact {
    width: 70%;
  }

  footer .footer {
    padding-top: 70px;
  }
  footer .footer .footer-flex {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    position: relative;
  }
  footer .footer .footer-flex p {
    font-size: 0.8em;
  }
  footer .footer .footer-flex .email, footer .footer .footer-flex .icon {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
  }
  footer .footer .footer-flex .email i:hover, footer .footer .footer-flex .email a:hover, footer .footer .footer-flex .icon i:hover, footer .footer .footer-flex .icon a:hover {
    color: var(--green);
  }
  footer .footer .footer-flex .email::after, footer .footer .footer-flex .icon::after {
    content: "";
    display: block;
    width: 170px;
    height: 1px;
    margin: 0 0 0 20px;
    background-color: var(--light-text-color);
  }
  footer .footer .footer-flex .email {
    transform: translate(190px, -150px) rotate(90deg);
    right: 0;
  }
  footer .footer .footer-flex .email a:hover {
    color: var(--green);
  }
  footer .footer .footer-flex .icon {
    left: 0;
    display: flex;
    transform: translate(-130px, -130px) rotate(90deg);
  }
  footer .footer .footer-flex .icon i {
    margin-left: 10px;
  }
  footer .footer .footer-flex .icon i:hover {
    color: var(--green);
  }
}
@media screen and (min-width: 1100px) {
  body {
    font-size: 19px;
  }

  header {
    padding: 200px 0 120px 0;
  }

  .max-width {
    max-width: 1000px;
    width: 80%;
    margin: auto;
  }

  .home-text {
    max-width: 1000px;
  }
  .home-text .text {
    max-width: 600px;
  }

  .nav-bar {
    max-width: 2300px;
  }

  h2 {
    font-size: 3.4em;
  }

  #project .project .project-items .item {
    height: 300px;
    width: 47vw;
    max-width: 600px;
  }
  #project .project .project-items .item .item-img {
    transform: translate(50%, -10%);
    width: 56vw;
    max-width: 760px;
  }
  #project .project .project-items .item .item-img .item-text {
    max-width: 600px;
  }
  #project .project .project-items .item:nth-child(2), #project .project .project-items .item:nth-child(4) {
    transform: translate(60%, -20%);
  }
  #project .project .project-items .item:nth-child(2) .item-img, #project .project .project-items .item:nth-child(4) .item-img {
    transform: translate(-51%, -20%);
    width: 59vw;
  }

  #contact .contact {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */